.post-list {
    display: flex;
    width: 95%;
    margin: 1rem auto;
    text-align: center;
    height: 100vh;

    th{
        font-size:1.2rem;
    }
    &__card {
        padding: 1.5rem;
    }
    &__btn-add-post {
        margin-left: auto;
        width: 200px;
    }
    &__post-table {
        margin-top: 2rem;
        @extend .mdl-data-table;
        @extend .mdl-shadow--2dp; 
    } 
}