.post-form {
    display: flex;
    width: 95%;
    margin: 1rem auto;

    @extend .mdl-card;
    @extend .mdl-shadow--2dp;

    &__card {
        width: 100%;
        padding: 1rem;
        margin:auto;
    }
    &__grid{
        margin:0;
        @extend .mdl-grid;
    }
    &__title {
        text-align: center;
    }

    &__textfield,&__textarea{
        width:90%;
    }
    &__content{
        display: block;
    }
    &__button-group{
        display: block;
        margin: auto;
    }

    &__submit,&__cancel {
        display: inline-block;
        width: 150px;
        color: #fff;
        @extend .btn-primary;
    }
    &__cancel{
        margin-left:2px;
        padding: 0px;
    }
    &__error{
        color:red;
    }
}
