.post-form {
    display: flex;
    width: 95%;
    margin: 1rem auto;
    font-size:1.5rem;

    @extend .mdl-card;
    @extend .mdl-shadow--2dp;

    &__card {
        width: 100%;
        padding: 1rem;
        margin:auto;
    }
    &__grid{
        margin:0;
        @extend .mdl-grid;
    }
    &__heading{
        text-align:center;
    }
    &__title {
        @extend .mdl-cell;
        @extend .mdl-cell--5-col;
        @extend .mdl-cell--4-col-phone;
        @extend .mdl-cell--8-col-tablet;
    }

    &__categories{
        @extend .mdl-cell;
        @extend .mdl-cell--2-offset-desktop;
        @extend .mdl-cell--5-col; 
        @extend .mdl-cell--4-col-phone;
        @extend .mdl-cell--8-col-tablet;
    }

    &__content{
        @extend .mdl-cell;
        @extend .mdl-cell--5-col; 
        @extend .mdl-cell--4-col-phone;
        @extend .mdl-cell--8-col-tablet;
    }
    &__placeholder-column{
        @extend .mdl-cell;
        @extend .mdl-cell--7-col;
        @extend .mdl-cell--4-col-phone;
        @extend .mdl-cell--8-col-tablet;
    }
    &__textfield,&__textarea{
        width:90%;
    }
    &__content{
        display: block;
    }
    &__button-group{
        display: block;
        margin: auto;
    }

    &__submit,&__cancel {
        display: inline-block;
        width: 150px;
        color: #fff;
        font-size:1.4rem;
        @extend .btn-primary;
    }
    &__cancel{
        margin-left:2px;
        padding: 0px;
    }
}
