.post-form {
    display: flex;
    width: 95%;
    margin: 1rem auto;
    height: 75vh;

    @extend .mdl-card;
    @extend .mdl-shadow--2dp;

    &__card {
        width: 100%;
        padding: 1rem;
        margin:auto;
    }
    &__grid{
        margin:0;
        @extend .mdl-grid;
    }
    &__title {
        text-align: center;
    }

    &__textfield,&__textarea{
        width:90%;
    }
    &__content{
        display: block;
    }

    &__submit {
        display: inline-block;
        width: 200px;
        color: #fff;
        margin:auto;
        @extend .btn-primary;
    }
    &__error{
        color:red;
    }
}
