@import "~material-design-icons/iconfont/material-icons.css";

.mdl-layout-title{
    font-size:1.2rem;
}

.mdl-layout__content{
    margin: 0 auto;
    width:90%;
}
.mdl-layout__drawer{
    transition-duration: 500ms;
}

.post-form{
    width:80%;
    margin: 0 auto;
}
.post-form__form{
    display: flex;
    padding: 1rem 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-form__title{
    text-align: center;
}