@import "~material-design-icons/iconfont/material-icons.css";

.mdl-layout-title{
    font-size:1.2rem;
}


.mdl-layout__drawer{
    transition-duration: 500ms;
}

.post-form{
    display: block;
    width:95%;
    margin: 1rem auto;
    text-align:center;
    padding:1rem;
}

.post-form__texfield{
    width:45%;
}
.post-form__title{
    text-align: center;
}
.post-form__submit{
    display: inline-block;
    min-width: 200px;
}