@import "../../../node_modules/material-design-lite/src/color-definitions";

$color-primary: $palette-light-blue-500;
$color-primary-dark: $palette-light-blue-700;
$color-accent: $palette-blue-600;

//Sass functions are not getting applied to MDL colors
$color-primary-1:#03A9F4;
$color-danger: #FFCDD2;

$image_path: '~material-design-lite/dist/images/' !default;

