@import "../../../node_modules/material-design-lite/src/color-definitions";

$color-primary: $palette-purple-500;
$color-primary-dark: $palette-purple-500;
$color-accent: $palette-purple-A200;

//Sass functions are not getting applied to MDL colors
$color-primary-1:rgb(156,39,176);

